#!/usr/bin/env zsh

# Bash aliases
alias serverhere="~/bin/serverhere.sh $*"
alias ws="~/bin/pycharm-launcher.sh $#"
alias pc="~/bin/pycharm-launcher.sh $#"
alias mount-efi="~/bin/mount-efi.sh"

EZA_BIN="$(brew --prefix)/bin/eza"
if [[ -x $EZA_BIN ]]; then
	alias ls="$EZA_BIN"
fi
