#!/usr/bin/env zsh

# Bash aliases
alias serverhere="~/bin/serverhere.sh $*"
alias ws="~/bin/webstorm-launcher.sh $#"
alias mount-efi="~/bin/mount-efi.sh"

EXA_BIN="$(brew --prefix)/bin/exa"
if [[ -x $EXA_BIN ]]; then
	alias ls="$EXA_BIN"
fi
