[user]
	name = "Filip Růžička"
	email = "f@filipruzicka.com"

[alias]
	amend = commit --amend --all --no-edit
	ls = log --oneline
	s = status
	co = checkout
	cob = checkout -b
	pub = push -u origin HEAD

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[color]
	ui = auto

[includeif "gitdir:~/prusa/"]
	path = ~/prusa/.gitconfig_include
